.categories {
  position: relative;
  padding-bottom: 60px;
}

.categories__title {
  background: none;
  color: white;
  font-size: 50px;
  font-weight: 100;
  text-align: center;
  padding-top: 60px;
  width: 100%;
}
