// nav:after {
//   content: "";
//   clear: both;
//   display: table;
// }

// header {
//   position: absolute;
//   width: 100%;
//   z-index: 2;
// }
// nav .logo {
//   float: left;
//   color: white;
//   font-size: 27px;
//   line-height: 70px;
//   padding-left: 60px;
// }
// nav ul {
//   float: right;
//   margin-right: 40px;
//   list-style: none;
//   position: relative;
// }
// nav ul li {
//   float: left;
//   display: inline-block;
//   margin: 0 5px;
// }
// nav ul li a {
//   color: white;
//   line-height: 70px;
//   text-decoration: none;
//   font-size: 18px;
//   padding: 8px 15px;
// }
// nav ul li a:hover {
//   color: #d92e37;
// }
// nav ul ul li a:hover {
//   box-shadow: none;
// }
// nav ul ul {
//   position: absolute;
//   top: 90px;
//   border-top: 3px solid #d92e37;
//   opacity: 0;
//   visibility: hidden;
//   transition: top 0.3s;
// }
// nav ul ul ul {
//   border-top: none;
// }
// nav ul li:hover > ul {
//   top: 70px;
//   opacity: 1;
//   visibility: visible;
// }
// nav ul ul li {
//   position: relative;
//   margin: 0px;
//   width: 200px;
//   float: none;
//   display: list-item;
//   border-bottom: 1px solid rgba(0, 0, 0, 0.3);
//   background-color: #222;
// }
// nav ul ul li a {
//   line-height: 50px;
// }
// nav ul ul ul li {
//   position: relative;
//   top: -60px;
//   left: 150px;
// }
// .show,
// .icon,
// input {
//   display: none;
// }
// .fa-plus {
//   font-size: 15px;
//   margin-left: 40px;
// }
// @media all and (max-width: 968px) {
//   nav ul {
//     margin-right: 0px;
//     float: left;
//   }
//   nav .logo {
//     padding-left: 30px;
//     width: 100%;
//   }
//   .show + a,
//   ul {
//     display: none;
//   }
//   nav ul li,
//   nav ul ul li {
//     display: block;
//     width: 100%;
//   }
//   nav ul li a:hover {
//     box-shadow: none;
//   }
//   .show {
//     display: block;
//     color: white;
//     font-size: 18px;
//     padding: 0 20px;
//     line-height: 70px;
//     cursor: pointer;
//   }
//   .show:hover {
//     color: #d92e37;
//   }
//   .icon {
//     display: block;
//     color: white;
//     position: absolute;
//     top: 0;
//     right: 40px;
//     line-height: 70px;
//     cursor: pointer;
//     font-size: 25px;
//   }
//   nav ul ul {
//     top: 70px;
//     border-top: 0px;
//     float: none;
//     position: static;
//     display: none;
//     opacity: 1;
//     visibility: visible;
//   }
//   nav ul ul a {
//     padding-left: 40px;
//   }

//   [id^="btn"]:checked + ul {
//     display: block;
//   }
//   nav ul ul li {
//     border-bottom: 0px;
//     background-color: transparent;
//   }

//   span.cancel:before {
//     content: "\f00d";
//   }
// }
// .content {
//   z-index: -1;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   text-align: center;
// }
// header {
//   font-size: 35px;
//   padding: 10px 0;
// }
// p {
//   font-size: 30px;
// }
.navbar {
  background-color: transparent;
}

.navbar li {
  margin: 0 50px;
  padding-top: 10px;
}

.navbar li a {
  color: white;
  text-decoration: none;
}

.navbar ul li a:hover {
  color: var(--primary-red);
  text-decoration: underline;
}

.navbar .dropdown-menu {
  background-color: black;
}

.navbar .toggle {
  width: 30px;
  height: 30px;
}

.navbar .letter-logo {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.navbar .item-active {
  color: var(--primary-red);
}

@media (max-width: 768px) {
  .navbar {
    background-color: black;
  }
  .dropdown-menu {
    background-color: black;
    color: white;
  }

  .navbar li {
    margin: 5px 0;
  }
  .navbar .dropdown-item {
    padding-top: 0;
    padding-bottom: 0;
  }
}
