.tattoosSection {
  background-color: black;
}
.tattoosSection h3 {
  background: none;
  color: white;
  font-size: 50px;
  font-weight: 100;
  text-align: center;
  padding-top: 80px;
  width: 100%;
}
