@media only screen and (max-width: 900px) {
  header {
    position: relative;
  }

  .main {
    display: none;
  }

  .footer {
    flex-direction: column;
    justify-content: center;
  }

  .footer a {
    padding: 0;
  }
}
